body{
    position: relative;
    width: 1440px;
    height: 1024px;    
    background: #070724;
    margin: 0;
    background-image:url("background-stars.svg");
}
/* The Planets */
h4{
    position: absolute;
    width: 109px;
    height: 36px;
    left: 32px;
    top: 22px;    
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.05px;
    text-transform: uppercase;    
    color: #FFFFFF;
    margin-top: 0;    
}
/* Navbar desktop start */
.topnav{
    position: absolute;
    width: 700px;
    height: 88px;
    left: 739px;
    top: 0px;
    mix-blend-mode: normal;    
    word-spacing: 32px;
    overflow: hidden;
    }

a{
    display:inline-block;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.75;
    text-decoration: none;
    height: 85px;
    border-style: solid;
    border-width: 5px 0 0 0;
    padding-top:23px;
    border-color:transparent;
}

#mercuryLink:hover{
    border-color: rgb(65,158,187);
}

#venusLink:hover{
    border-color: rgb(237,162,73);
}

#earthLink:hover{
    border-color: rgb(109,46,213);
}

#marsLink:hover{
    border-color:rgb(209,76,50);
}

#jupiterLink:hover{
    border-color: rgb(216,58,52);
}

#saturnLink:hover{
    border-color: rgb(205,81,32);
}

#uranusLink:hover{
    border-color: rgb(30,193,162);
}

#neptuneLink:hover{
    border-color: rgb(45,104,240);
}

a:hover{
color: #FFFFFF;
opacity: 1;
}

.topnav .icon{display:none;}
/* Navbar desktop end */
.top-line{
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 85px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.mobile-topline{display: none;}

h1{
    position: absolute;
    width: 263px;
    height: 104px;
    left: 925px;
    top: 212px;
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 104px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
}

p{
    position: absolute;
    width: 350px;
    height: 150px;
    left: 925px;
    top: 339px;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    margin:0;
}

.wikilink-box{
    position: absolute;
    width: 164px;
    height: 25px;
    left: 925px;
    top: 512px;
}

.wikilink{
    position: absolute;
    height: 25px;
    left: 0%;
    right: 12.2%;
    top: calc(50% - 25px/2);
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

#wikiLink{
    float: left;
    display:block;
    text-decoration: underline; 
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    height: 25px;
    left: 65px;
    top: calc(50% - 25px/2);
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 1;   
    border-style: none;
    border-width: 0;
    padding-top:0;
    border-color:transparent;
        
}

#wikiFavicon{
    opacity: 1;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 155px;
    top: 6px;
}

.scaling-svg-container{
    position: absolute;
    width: 290px;
    height: 290px;
    left: 335px;
    top: 328px;
}

.scaling-svg-container-venus{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 280px;
    top: 273px;
}

.scaling-svg-container-earth{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 255px;
    top: 248px;
}

.scaling-svg-container-mars{
    position: absolute;
    width: 336px;
    height: 336px;
    left: 312px;
    top: 305px;
}

.scaling-svg-container-jupiter{
    position: absolute;
    width: 582px;
    height: 582px;
    left: 189px;
    top: 182px;
}

.scaling-svg-container-saturn{
    position: absolute;
    width: 666.09px;
    height: 666.09px;
    left: 146.95px;
    top: 155.95px;
}

.scaling-svg-container-uranus{
    position: absolute;
    width: 458px;
    height: 458px;
    left: 251px;
    top: 244px;
}

.scaling-svg-container-neptune{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 255px;
    top: 248px;
}

.scaling-svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
   }

img{
    position: absolute;
    width: 163px;
    height: 199px;
    left: 394px;
    top: 554px;
}

#surfaceImageVenus{

    position: absolute;
    width: 163px;
    height: 199px;
    left: 399px;
    top: 554px;

}

#surfaceImageEarth{
    position: absolute;
    width: 163px;
    height: 199px;
    left: 399px;
    top: 554px;
}

#surfaceImageMars{
    position: absolute;
    width: 163px;
    height: 199px;
    left: 392px;
    top: 554px;
}

#surfaceImageJupiter{
    position: absolute;
    width: 163px;
    height: 199px;
    left: 389px;
    top: 534px;
}

#surfaceImageSaturn{
    position: absolute;
    width: 163px;
    height: 199px;
    left: 384px;
    top: 524px;   
}

#surfaceImageUranus{
    position: absolute;
    width: 163px;
    height: 199px;
    left: 379px;
    top: 534px;
}

#surfaceImageNeptune{
    position: absolute;
    width: 163px;
    height: 199px;
    left: 393px;
    top: 554px;
}

/* Buttons start (Desktop view) */
/* Mercury */
.overview-button{  
    left: 925px;
    top: 577px;
    position: absolute;  
    padding:0;
    width: 350px;
    height: 48px;
    background-color: transparent;
    border-color: #838391;
    border-width: 1px;
    border-style: solid;
}

.overview-button:hover{
    background: rgb(56,56,79)!important;
  }

  .overview-button.active{
      background-color: rgb(65,158,187);
  }


.overview-number{
    position: absolute;
    height: 25px;
    left: 8%;
    right: 86.86%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin:0;
}

.overview-text{
    position: absolute;
    height: 25px;
    left: 21.14%;
    right: 52.29%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
}

.structure-button{
    position: absolute;
    width: 350px;
    height: 48px;
    left: 925px;
    top: 641px;
    border-style: solid;
    border-color: #838391;
    border-width: 1px;
    background-color: transparent;
    padding:0;

}

.structure-button.active{
    background-color: rgb(65,158,187);
}

.structure-button:hover{
    background: rgb(56,56,79)!important;
    }

.structure-number{
    position: absolute;
    height: 25px;
    left: 8%;
    right: 86%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin:0;
}

.structure-text{
    position: absolute;
    height: 25px;
    left: 70px;
    right: 24%;
    top: calc(50% - 25px/2 + 0.5px);    
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
}

#structureImage{
    visibility: hidden;
    }

    #surfaceImageVenus{
        visibility: hidden;
    }

.surface-button{
    position: absolute;
    width: 350px;
    height: 48px;
    left: 925px;
    top: 705px;
    border-style: solid;
    border-color: #838391;
    border-width: 1px;
    background-color: transparent;
    padding:0;
}

.surface-button:hover{
    background: rgb(56,56,79)!important;
}

.surface-button.active{
    background-color: rgb(65,158,187);
}

#surfaceImage{
    visibility:hidden ;
}

#surfaceImageEarth{
    visibility: hidden;
}

#surfaceImageMars{
    visibility: hidden;
}

#surfaceImageJupiter{
    visibility: hidden;
}

#surfaceImageSaturn{
    visibility: hidden;
}

#surfaceImageUranus{
    visibility: hidden;
}

#surfaceImageNeptune{
    visibility: hidden;
}

.surface-number{
    position: absolute;
    height: 25px;
    left: 8%;
    right: 86%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin:0;
}

.surface-text{
    position: absolute;
    height: 25px;
    left: 70px;
    right: 30.86%;
    top: calc(50% - 25px/2 + 0.5px);
    margin:0px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    }

    /* Venus */
    #venusoverviewButton.active{
        background-color: rgb(237,162,73);
    }

    #venusstructureButton.active{
        background-color: rgb(237,162,73);
    }

    #venussurfaceButton.active{
        background-color: rgb(237,162,73);       
    }

    /* Earth */
    #earthoverviewButton.active{
        background-color: rgb(109,46,213);
    }

    #earthstructureButton.active{
        background-color: rgb(109,46,213);
    }

    #earthsurfaceButton.active{
        background-color: rgb(109,46,213);       
    }

    /* Mars */
    #marsoverviewButton.active{
        background-color: rgb(209,76,50);
    }

    #marsstructureButton.active{
        background-color: rgb(209,76,50);
    }

    #marssurfaceButton.active{
        background-color: rgb(209,76,50);      
    }   


        /* Jupiter */
        #jupiteroverviewButton.active{
            background-color: rgb(216,58,52);
        }
    
        #jupiterstructureButton.active{
            background-color: rgb(216,58,52);
        }
    
        #jupitersurfaceButton.active{
            background-color: rgb(216,58,52);      
        }   

        /* Saturn */
        #saturnoverviewButton.active{
            background-color: rgb(205,81,32);
        }
    
        #saturnstructureButton.active{
            background-color: rgb(205,81,32);
        }
    
        #saturnsurfaceButton.active{
            background-color: rgb(205,81,32);     
        }   

        /* Uranus */
        #uranusoverviewButton.active{
            background-color: rgb(30,193,162);
        }
    
        #uranusstructureButton.active{
            background-color: rgb(30,193,162);
        }
    
        #uranussurfaceButton.active{
            background-color: rgb(30,193,162);    
        }  

        /* Neptune */

        #neptuneoverviewButton.active{
            background-color: rgb(45,104,240);
        }
    
        #neptunestructureButton.active{
            background-color: rgb(45,104,240);
        }
    
        #neptunesurfaceButton.active{
            background-color: rgb(45,104,240);   
        }  

/* Buttons end (Desktop view) */

.rotation-box{
    position: absolute;
    width: 255px;
    height: 128px;
    left: 165px;
    top: 840px;
    border-style: solid;
    border-color: #838391;
    border-width: 1px;
}

.revolution-box{
    position: absolute;
    width: 255px;
    height: 128px;
    left: 450px;
    top: 840px;
    border-style: solid;
    border-color: #838391;
    border-width: 1px;
}

.radius-box{
    position: absolute;
    width: 255px;
    height: 128px;
    left: 735px;
    top: 840px; 
    border-style: solid;
    border-color: #838391;
    border-width: 1px;
}

.temp-box{
    position: absolute;
    width: 255px;
    height: 128px;
    left: 1020px;
    top: 840px;
    border-style: solid;
    border-color: #838391;
    border-width: 1px;

}

.rotation-p{
    position: absolute;
    height: 25px;
    left: 9.02%;
    right: 48.24%;
    top: calc(50% - 25px/2 - 31.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin:0;
}

.rotation-h3{
    position: absolute;
    height: 52px;
    left: 9.02%;
    right: 40.78%;
    top: calc(50% - 52px/2 + 11px);
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
    width:200px;
}

.revolution-p{
    position: absolute;
    height: 25px;
    left: 9.02%;
    right: 40.78%;
    top: calc(50% - 25px/2 - 31.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin:0;
}

.revolution-h3{
    position: absolute;
    height: 52px;
    left: 9.02%;
    right: 36.08%;
    top: calc(50% - 52px/2 + 11px);
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
    width: 200px;
}

.radius-p{
    position: absolute;
    height: 25px;
    left: 9.02%;
    right: 70.59%;
    top: calc(50% - 25px/2 - 31.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin:0;
}

.radius-h3{
    position: absolute;
    height: 52px;
    left: 9.02%;
    right: 34.51%;
    top: calc(50% - 52px/2 + 11px);
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
}

.temp-p{
    position: absolute;
    height: 25px;
    left: 9.02%;
    right: 47.06%;
    top: calc(50% - 25px/2 - 31.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin:0;
}

.temp-h3{
    position: absolute;
    height: 52px;
    left: 9.02%;
    right: 58.82%;
    top: calc(50% - 52px/2 + 11px);
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
}

/* Tablet view */
@media (max-width:768px){

    body{        
        position: relative;
        width: 768px;
        height: 1024px;        
        background: #070724;
        }

        h4{
            position: absolute;
            width: 109px;
            height: 36px;
            left: 330px;
            top: 32px;
            font-family: Antonio;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -1.05px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .topnav{
            position: absolute;
            width: 695px;
            height: 25px;
            left: 51px;
            top: 107px;
            mix-blend-mode: normal;
            text-align: left;
            margin:0;
            padding:0;
            word-spacing: 2px;
       }

        a{
            /* float:left; */
            display:inline-block;
            font-family: Spartan;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-left: 25px;
            opacity: 1;
            text-decoration: none;   
            border-width:0;      
            padding-top: 10px;
                  }

        .mobile-topline{display: none;}

    .top-line{
        position: absolute;
        width: 768px;
        height: 1px;
        left: 0px;
        top: 159px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.2;
    }
    
    .scaling-svg-container{
        position: absolute;
        width: 184px;
        height: 184px;
        left: 293px;
        top: 306px;
       }

       .scaling-svg-container-venus{

        position: absolute;
        width: 253px;
        height: 253px;
        left: 258px;
        top: 272px;

       }

       .scaling-svg-container-earth{
        position: absolute;
        width: 285px;
        height: 285px;
        left: 242px;
        top: 256px;
        
       }

       .scaling-svg-container-mars{
        position: absolute;
        width: 213px;
        height: 213px;
        left: 278px;
        top: 292px;
       }

       .scaling-svg-container-jupiter{
        position: absolute;
        width: 369px;
        height: 369px;
        left: 200px;
        top: 214px;
       }

       .scaling-svg-container-saturn{
        position: absolute;
        width: 422px;
        height: 422px;
        left: 173px;
        top: 187px;
        
       }

       .scaling-svg-container-uranus{
        position: absolute;
        width: 290px;
        height: 290px;
        left: 240px;
        top: 253px;        
       }

       .scaling-svg-container-neptune{
        position: absolute;
        width: 285px;
        height: 285px;
        left: 242px;
        top: 256px;
       }

    .scaling-svg {
        position: absolute; 
        height: 100%; 
        width: 100%; 
        left: 0; 
        top: 0;
       }

       img{
        position: absolute;
        width: 100px;
        height: 120px;
        left: 333px;
        top: 430px;
       }

       #surfaceImageVenus{

        position: absolute;
        width: 100px;
        height: 120px;
        left: 335px;
        top: 450px;


       }

       #surfaceImageEarth{
        position: absolute;
        width: 100px;
        height: 120px;
        left: 335px;
        top: 450px;
       }

       #surfaceImageMars{
        position: absolute;
        width: 100px;
        height: 120px;
        left: 331px;
        top: 450px;
       }

       #surfaceImageJupiter{
        position: absolute;
        width: 100px;
        height: 120px;
        left: 329px;
        top: 445px;
       }

       #surfaceImageSaturn{
        position: absolute;
        width: 100px;
        height: 120px;
        left: 324px;
        top: 445px;
       }

       #surfaceImageUranus{
        position: absolute;
        width: 100px;
        height: 120px;
        left: 324px;
        top: 445px;  
       }

       #surfaceImageNeptune{
        position: absolute;
        width: 100px;
        height: 120px;
        left: 331px;
        top: 445px;  
       }

h1{
    position: absolute;
    height: 62px;
    left: 39px;
    right: 53.39%;
    top: 621px;
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    color: #FFFFFF;
    }

p{
    position: absolute;
    height: 110px;
    left: 39px;
    right: 0%;
    top: 706px;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    color: #FFFFFF;
}

.wikilink-box{
    position: absolute;
    width: 139px;
    height: 25px;
    left: 39px;
    top: 848px;
}

.wikilink{
    position: absolute;
    height: 25px;
    left: 0%;
    right: 11.51%;
    top: calc(50% - 25px/2);    
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;    
    mix-blend-mode: normal;
    opacity: 0.5;
}

#wikiLink{
    position: absolute;
    height: 25px;
    left: 0%;
    right: 11.51%;
    top: calc(50% - 25px/2);    
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;    
    mix-blend-mode: normal;
    padding:0;
    width:200px;
    text-decoration: underline ; 
    font-weight: bold;
}

#wikiFavicon{
    opacity: 1;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 142px;
    top: 6px;
}

.overview-button{
    position: absolute;
    width: 281px;
    height: 40px;
    left: 447px;
    top: 676px;
}

.overview-number{
    position: absolute;
    height: 25px;
    left: 7.12%;
    right: 88.26%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px;  
    letter-spacing: 1.92857px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.overview-text{
    position: absolute;
    height: 25px;
    left: 17.79%;
    right: 57.3%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px;
    letter-spacing: 1.92857px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.structure-button{
    position: absolute;
    width: 281px;
    height: 40px;
    left: 447px;
    top: 732px;
}

.structure-number{
    position: absolute;
    height: 25px;
    left: 7.12%;
    right: 87.19%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px;
    letter-spacing: 1.92857px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.structure-text{
    position: absolute;
    height: 25px;
    left: 17.79%;
    right: 30.96%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px;
    letter-spacing: 1.92857px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 150px;
}

.surface-button{
    position: absolute;
    width: 281px;
    height: 40px;
    left: 447px;
    top: 788px;
}

.surface-number{
    position: absolute;
    height: 25px;
    left: 7.12%;
    right: 87.19%;
    top: calc(50% - 25px/2 + 0.5px);    
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px; 
    letter-spacing: 1.92857px;
    text-transform: uppercase;    
    color: #FFFFFF;    
    mix-blend-mode: normal;
    opacity: 0.5;
}

.surface-text{
    position: absolute;
    height: 25px;
    left: 17.79%;
    right: 37.37%;
    top: calc(50% - 25px/2 + 0.5px);
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 25px;    
    letter-spacing: 1.92857px;
    text-transform: uppercase;    
    color: #FFFFFF;
    width: 134px;
}

.rotation-box{
    position: absolute;
    width: 164px;
    height: 88px;
    left: 39px;
    top: 900px;
}

.revolution-box{
    position: absolute;
    width: 164px;
    height: 88px;
    left: 214px;
    top: 900px;

}

.radius-box{
    position: absolute;
    width: 164px;
    height: 88px;
    left: 389px;
    top: 900px;
}

.temp-box{
    position: absolute;
    width: 164px;
    height: 88px;
    left: 564px;
    top: 900px;
}

.rotation-p{
    position: absolute;
    height: 16px;
    left: 0%;
    right: 0%;
    top: calc(50% - 16px/2 - 18.5px);
    margin-left: 10px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.727273px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.rotation-h3{
    position: absolute;
    height: 31px;
    left: 0%;
    right: 3.75%;
    top: calc(50% - 31px/2 + 11px);
    margin-left: 10px;
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.revolution-p{
    position: absolute;
    height: 16px;
    left: 0%;
    right: 1.06%;
    top: calc(50% - 16px/2 - 18.5px);
    margin-left: 10px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 16px; 
    letter-spacing: 0.727273px;
    text-transform: uppercase;    
    color: #FFFFFF;    
    mix-blend-mode: normal;
    opacity: 0.5;  
   }

.revolution-h3{
    position: absolute;
    height: 31px;
    left: 0%;
    right: 10.64%;
    top: calc(50% - 31px/2 + 11px);
    margin-left: 10px;
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.9px;
    text-transform: uppercase;  
    color: #FFFFFF;    
}

.radius-p{
    position: absolute;
    height: 16px;
    left: 0%;
    right: 55.29%;
    top: calc(50% - 16px/2 - 18.5px);
    margin-left: 10px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 16px;    
    letter-spacing: 0.727273px;
    text-transform: uppercase;    
    color: #FFFFFF;    
    mix-blend-mode: normal;
    opacity: 0.5;
    }

.radius-h3{
    position: absolute;
    height: 31px;
    left: 0%;
    right: -1.18%;
    top: calc(50% - 31px/2 + 11px);
    margin-left: 10px;
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;    
    letter-spacing: -0.9px;
    text-transform: uppercase;    
    color: #FFFFFF;
    }

.temp-p{
    position: absolute;
    height: 16px;
    left: 0%;
    right: 35.94%;
    top: calc(50% - 16px/2 - 18.5px);
    margin-left: 10px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.727273px;
    text-transform: uppercase;    
    color: #FFFFFF;    
    mix-blend-mode: normal;
    opacity: 0.5;
}

.temp-h3{
    position: absolute;
    height: 31px;
    left: 0%;
    right: 0%;
    top: calc(50% - 31px/2 + 11px);
    font-family: Antonio;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;    
    letter-spacing: -0.9px;
    text-transform: uppercase;    
    color: #FFFFFF;
    margin-left: 10px;
}

}

/* Mobile portrait view */
@media (min-width:375px){

    body{
            max-width: 375px;
            max-height: 950px;
            position: relative;
    }

/* //////////////////MOBILE NAV//////////////////////     */
    nav{
        position: absolute;
        width: 327px;
        height: 36px;
        left: 24px;
        top: 16px;
    }

    h4{
        position: absolute;
        height: 36px;
        left: 0%;
        right: 66.67%;
        top: calc(50% - 36px/2);        
        font-family: Antonio;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1.05px;
        text-transform: uppercase;        
        color: #FFFFFF;
    }

    .topnav a.icon {
        float: right;
        display: block;
      }

    .topnav{
        position: absolute;
        width: 24px;
        height: 17px;
        left: 303px;
        top: 10px;        
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));      
        overflow:visible;
    }

    .topnav.responsive{position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      left: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      
    }
/* //////////////////////////////////////////////////////////// */
    .mobile-topline{
        position: absolute;
        width: 375px;
        height: 1px;
        left: 0px;
        top: 68px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.2;
        display: block;
    }

    .top-line{
        position: absolute;
        width: 375px;
        height: 1px;
        left: 0px;
        top: 119px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.2;
        }

    /* mobile svg scaling start*/
    .scaling-svg-container{
        position: absolute;
        width: 111px;
        height: 111px;
        left: 132px;
        top: 215px;
    }

    .scaling-svg-container-venus{
        position: absolute;
        width: 154px;
        height: 154px;
        left: 110px;
        top: 194px;
    }

    .scaling-svg-container-earth{
        position: absolute;
        width: 173px;
        height: 173px;
        left: 101px;
        top: 184px;
    }

    .scaling-svg-container-mars{
        position: absolute;
        width: 129px;
        height: 129px;
        left: 122px;
        top: 207px;
    }

    .scaling-svg-container-jupiter{
        position: absolute;
        width: 224px;
        height: 224px;
        left: 75px;
        top: 159px;
    }

    .scaling-svg-container-saturn{
        position: absolute;
        width: 256px;
        height: 256px;
        left: 58px;
        top: 144px;
    }

    .scaling-svg-container-uranus{
        position: absolute;
        width: 176px;
        height: 176px;
        left: 99px;
        top: 183px;
    }

    .scaling-svg-container-neptune{
        position: absolute;
        width: 173px;
        height: 173px;
        left: 101px;
        top: 184px;
    }

    #surfaceImageVenus{
        position: absolute;
        top:290px;
        left:156px;
        width: 60px;
        height: 75px;   
    }

    #surfaceImageEarth{
        position: absolute;
        top:305px;
        left:157px;
        width: 60px;
        height: 75px;  
    }

    #surfaceImageMars{
        position: absolute;
        top:295px;
        left:154px;
        width: 60px;
        height: 75px; 
    }

    #surfaceImageJupiter{
        position: absolute;
        top:295px;
        left:153px;
        width: 60px;
        height: 75px;
    }

    #surfaceImageSaturn{
        position: absolute;
        top:295px;
        left:150px;
        width: 60px;
        height: 75px;
    }

    #surfaceImageUranus{
        position: absolute;
        top:295px;
        left:150px;
        width: 60px;
        height: 75px;
    }

    #surfaceImageNeptune{
        position: absolute;
        top:305px;
        left:155px;
        width: 60px;
        height: 75px; 
    }

    .scaling-svg {
        position: absolute; 
        height: 100%; 
        width: 100%; 
        left: 0; 
        top: 0;
       }
 /* mobile svg scaling end*/

 img{
     position: absolute;
     top:290px;
     left:156px;
     width: 60px;
     height: 75px;
 }

 main{
    position: absolute;
    width: 327px;
    height: 235px;
    left: 24px;
    top: 424px;
    text-align: center;
 }

    h1{

        position: absolute;
        height: 52px;
        left: 29.82%;
        right: 29.82%;
        top: calc(50% - 52px/2 - 91.5px);        
        font-family: Antonio;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 52px;      
        text-align: center;
        text-transform: uppercase;        
        color: #FFFFFF;
        width:132px;
        
    }

    p{

        position: absolute;
        height: 110px;
        left: 0%;
        right: 0%;
        top: calc(50% - 110px/2 + 5.5px);
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        width:327px;

    }

    .wikilink-box{

        position: absolute;
        left: 26.44%;
        right: 29.05%;
        top: 89.36%;
        bottom: 0%;

    }

    .wikilink{
        position: absolute;
        height: 25px;
        left: 0%;
        right: 30%;
        top: calc(50% - 25px/2);        
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;      
        color: #FFFFFF;        
        mix-blend-mode: normal;
        opacity: 0.5;
        width:60px;
    }

    #wikiLink{

        position: absolute;
        height: 25px;
        left: 0%;
        right: 11.51%;
        top: calc(50% - 25px/2);        
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;      
        color: #FFFFFF;        
        mix-blend-mode: normal;
        opacity: 1;

    }

    .rotation-box{
        position: absolute;
width: 327px;
height: 48px;
left: 24px;
top: 687px;
    }

    .rotation-p{
        text-align: left;
        position: absolute;
height: 16px;
left:0;
right: 71.33%;
top: calc(50% - 16px/2 + 2px);
width: 100px;
font-family: Spartan;
font-style: normal;
font-weight: bold;
font-size: 8px;
line-height: 16px;
/* identical to box height, or 200% */
letter-spacing: 0.727273px;
text-transform: uppercase;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
margin-left: 24px;
    }

    .rotation-h3{
        width: 100px;
        left: 231px;
        right: 24px;
        margin: 0;
        text-align: left;

        position: absolute;
height: 26px;
top: calc(50% - 26px/2);

font-family: Antonio;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */
letter-spacing: -0.75px;
text-transform: uppercase;
color: #FFFFFF;
    }

    .revolution-box{
        position: absolute;
width: 327px;
height: 48px;
left: 24px;
top: 743px;
    }

    .revolution-p{
        margin-left: 24px;
        text-align: left;
width: 100px;
        position: absolute;
height: 16px;
left: 0%;
right: 66.67%;
top: calc(50% - 16px/2 + 2px);

font-family: Spartan;
font-style: normal;
font-weight: bold;
font-size: 8px;
line-height: 16px;
/* identical to box height, or 200% */

letter-spacing: 0.727273px;
text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;

    }

    .revolution-h3{
        width: 72px;
        left: 231px;
        right: 24px;
        margin: 0;
        text-align: left;
        position: absolute;
        height: 26px;
        top: calc(50% - 26px/2);
        font-family: Antonio;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.75px;
        text-transform: uppercase;
        color: #FFFFFF;
        width:100px;
    }

    .radius-box{
        position: absolute;
width: 327px;
height: 48px;
left: 24px;
top: 799px;
    }

    .radius-p{
        margin-left: 24px;
        text-align: left;
        position: absolute;
height: 16px;
left: 0%;
right: 86.38%;
top: calc(50% - 16px/2 + 2px);
width: 100px;
font-family: Spartan;
font-style: normal;
font-weight: bold;
font-size: 8px;
line-height: 16px;
/* identical to box height, or 200% */

letter-spacing: 0.727273px;
text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
    }

    .radius-h3{
        width: 72px;
        left: 231px;
        right: 24px;
        margin: 0;
        text-align: left;

        position: absolute;
        height: 26px;
        top: calc(50% - 26px/2);
        font-family: Antonio;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
/* identical to box height */
        text-align: left;
        letter-spacing: -0.75px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .temp-box{
        position: absolute;
width: 327px;
height: 48px;
left: 24px;
top: 855px;
    }

    .temp-p{
        margin-left: 24px;
        text-align: left;
        position: absolute;
height: 16px;
left: 0%;
right: 70.61%;
top: calc(50% - 16px/2 + 2px);
width: 100px;
font-family: Spartan;
font-style: normal;
font-weight: bold;
font-size: 8px;
line-height: 16px;
/* identical to box height, or 200% */

letter-spacing: 0.727273px;
text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
    }

    .temp-h3{
        width: 72px;
        left: 231px;
        right: 24px;
        margin: 0;
        text-align: left;

        position: absolute;
height: 26px;
top: calc(50% - 26px/2);
font-family: Antonio;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */
letter-spacing: -0.75px;
text-transform: uppercase;

color: #FFFFFF;


    }

    .overview-button{
        position: absolute;
        width: 95px;
        height: 50px;
        left: 24px;
        top: 70px;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 10px;
        text-align: left;
        letter-spacing: 1.92857px;
        text-transform: uppercase;
        color: #FFFFFF;
        border-style: solid;
        border-width:0 0 5px 0;
        opacity: 0.5;
        border-color: transparent;
    }

    .structure-button{
        position: absolute;
        width: 100px;
        height: 50px;
        left: 147px;
        top: 70px;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 1.92857px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        text-align: left;
        border-style: solid;
        border-width:0 0 5px 0;
        opacity: 0.5;
        border-color: transparent;
    }

    .surface-button{
        position: absolute;
        width: 80px;
        height: 50px;
        left: 271px;
        top: 70px;
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 1.92857px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        border-style: solid;
        border-width:0 0 5px 0;
        border-color: transparent;
    }

    .overview-button.active{
        background-color: transparent;
        border-color:rgb(65,158,187);
        opacity: 1;
    }

    .structure-button.active{
        background-color: transparent;
        border-color:rgb(65,158,187);
        opacity: 1;
    }

    .surface-button.active{
        background-color: transparent;
        border-color:rgb(65,158,187);
        opacity: 1;
    }

    #venusoverviewButton.active{
        background-color: transparent;
        border-color:rgb(237,162,73);
        opacity: 1; 
    }

    #venusstructureButton.active{
        background-color: transparent;
        border-color:rgb(237,162,73);
        opacity: 1;   
    }

    #venussurfaceButton.active{
        background-color: transparent;
        border-color:rgb(237,162,73);
        opacity: 1;  
    }

    #earthoverviewButton.active{
        background-color: transparent;
        border-color:rgb(109,46,213);
        opacity: 1; 
    }

    #earthstructureButton.active{
        background-color: transparent;
        border-color:rgb(109,46,213);
        opacity: 1; 
    }

    #earthsurfaceButton.active{
        background-color: transparent;
        border-color:rgb(109,46,213);
        opacity: 1; 
    }

    #marsoverviewButton.active{
        background-color: transparent;
        border-color:rgb(209,76,50);
        opacity: 1;   
    }

    #marsstructureButton.active{
        background-color: transparent;
        border-color:rgb(209,76,50);
        opacity: 1;  
    }

    #marssurfaceButton.active{
        background-color: transparent;
        border-color:rgb(209,76,50);
        opacity: 1; 
    }

    #jupiteroverviewButton.active{
        background-color: transparent;
        border-color:rgb(216,58,52);
        opacity: 1;
    }

    #jupiterstructureButton.active{
        background-color: transparent;
        border-color:rgb(216,58,52);
        opacity: 1;  
    }

    #jupitersurfaceButton.active{
        background-color: transparent;
        border-color:rgb(216,58,52);
        opacity: 1;
    }

    #saturnoverviewButton.active{
        background-color: transparent;
        border-color:rgb(205,81,32);
        opacity: 1;
    }

    #saturnstructureButton.active{
        background-color: transparent;
        border-color:rgb(205,81,32);
        opacity: 1;   
    }

    #saturnsurfaceButton.active{
        background-color: transparent;
        border-color:rgb(205,81,32);
        opacity: 1; 
    }

    #uranusoverviewButton.active{
        background-color: transparent;
        border-color:rgb(30,193,162);
        opacity: 1; 
    }

    #uranusstructureButton.active{
        background-color: transparent;
        border-color:rgb(30,193,162);
        opacity: 1; 
    }

    #uranussurfaceButton.active{
        background-color: transparent;
        border-color:rgb(30,193,162);
        opacity: 1; 
    }

    #neptuneoverviewButton.active{
        background-color: transparent;
        border-color:rgb(45,104,240);
        opacity: 1;  
    }

#neptunestructureButton.active{
    background-color: transparent;
    border-color:rgb(45,104,240);
    opacity: 1;  
}

#neptunesurfaceButton.active{
    background-color: transparent;
    border-color:rgb(45,104,240);
    opacity: 1; 
}

    .overview-number{
        display: none;
    }

    .structure-number{
        display: none;
    }

    .surface-number{
        display: none;
    }

    .overview-text{
        position: absolute;
        left:0;
        width: 80px;
    }

    .structure-text{
        position: absolute;
        left:0;
        width: 80px;
    }

    .surface-text{
        position: absolute;
        left:0;
        width: 80px;
    }

    span{
        display: none;
    }

}